<div class="login-body">
    <form class="login-form" asp-controller="Account" asp-action="Register">
        <header>
            <h2>注册</h2>
        </header>
        <div>
            <label for="username"></label>
            <input type="text" name="username" placeholder="请输入账号">
            <label for="phonenumber"></label>
            <input type="text" name="phonenumber" placeholder="请输入手机号">
            <label for="email"></label>
            <input type="text" name="email" placeholder="请输入邮箱">
            <label for="password"></label>
            <input type="password" name="password" placeholder="请输入密码">
        </div>
        <footer>
            <button type="submit">注册</button>
        </footer>
    </form>
</div>
